@import "tailwindcss";

:root {
  --background: hsl(243, 96%, 9%); /* dark navy #02012b */
  --background-card: hsl(243, 27%, 20%); /* panels/cards */

  --foreground: hsl(0, 0%, 100%); /* main text = white */
  --muted: hsl(240, 6%, 70%); /* secondary text = light gray */

  --font-body: "DM Sans", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
  /* Accents */
  --accent-blue: hsl(233, 67%, 56%);
  --accent-blue-dark: hsl(248, 70%, 36%);
  --accent-orange: hsl(28, 100%, 52%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
}

/* === Fonts === */
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* === Apply styles === */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--foreground);
}

/* === Dark Mode Override === */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Darker background */
/* --foreground: #ededed; Light text */
/* --muted: #a1a1aa; */
/* } */
/* } */
